<a href="<%= @restaurant.url %>"><h1><%= @restaurant.name %></h1></a>

<img src="<%= @restaurant.image_url %>">
<% if logged_in? && !current_user.favorited_restaurants.include?(@restaurant) %>
  <form action='/restaurants/<%= @restaurant.id %>/favorites' method="POST">
    <input type="submit" value="favorite">
  </form>
<% end %>
