<a href="/users/new">Signup</a> | <a href="/sessions/new">Login</a>

<h1>Meal of Fortune</h1>

<form action="/search" method="POST">
  <input type="text" name="location" placeholder="Where are you?">
  <input type="submit" name="submit" value="Spin the Wheel!">
</form>
