<a href="/users/new">Signup</a> | <a href="/sessions/new">Login</a>

<h1>Meal of Fortune</h1>

<div class="container">

  <form action="/search" method="post">
    <input type="text" name="location" placeholder="Where are you?">
    <input type="submit" value="Spin the Wheel!">
  </form>


  <div id="wheel">
    <span class="selection" id="a"><p contenteditable="true">American</p></span>
    <span class="selection" id="b"><p contenteditable="true">Thai</p></span>
    <span class="selection" id="c"><p contenteditable="true">Mexican</p></span>
    <span class="selection" id="d"><p contenteditable="true">Japanese</p></span>
    <span class="selection" id="e"><p contenteditable="true">Korean</p></span>
    <span class="selection" id="f"><p contenteditable="true">Indian</p></span>
    <span class="selection" id="g"><p contenteditable="true">Italian</p></span>
    <span class="selection" id="h"><p contenteditable="true">American</p></span>
    <span class="selection" id="i"><p contenteditable="true">Thai</p></span>
    <span class="selection" id="j"><p contenteditable="true">Mexican</p></span>
    <span class="selection" id="k"><p contenteditable="true">Japanese</p></span>
    <span class="selection" id="l"><p contenteditable="true">Korean</p></span>
    <span class="selection" id="m"><p contenteditable="true">Indian</p></span>
    <span class="selection" id="n"><p contenteditable="true">Italian</p></span>
    <span class="selection" id="o"><p contenteditable="true">American</p></span>
    <span class="selection" id="p"><p contenteditable="true">Thai</p></span>
    <span class="selection" id="q"><p contenteditable="true">Mexican</p></span>
    <span class="selection" id="r"><p contenteditable="true">Japanese</p></span>
    <span class="selection" id="s"><p contenteditable="true">Korean</p></span>
    <span class="selection" id="t"><p contenteditable="true">Indian</p></span>
    <span class="selection" id="u"><p contenteditable="true">Italian</p></span>
  </div>
  <img src="http://www.blimpage.com/pants/wheel_of_lunch_peg.svg" id="peg"><br>
  <button class="fab" id="button"><paper-ripple class="circle recenteringTouch" fit></paper-ripple>MoF</button>
</div>



